# Основные зависимости
python-dotenv
SpeechRecognition
openai
pyttsx3
pyautogui
keyboard
pyperclip

# Для распознавания речи с faster-whisper вместо openai-whisper
faster-whisper
torch
numpy

# Дополнительные зависимости для улучшения качества звука
PyAudio